<html>
<head>

    <title>CatChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/semantic-ui/semantic.min.css">
    {#    <link rel="stylesheet" href="/static/css/semantic.minty.css">#}

</head>
<body data-feedly-mini="yes">

<div class="ui labeled icon right vertical inverted demo menu sidebar">
    <a class="item" href="http://helloflask.com" target="_blank">
        <i class="home icon"></i>
        HelloFlask.com
    </a>
    <a class="item" href="https://github.com/greyli/catchat" target="_blank">
        <i class="github icon"></i>
        GitHub
    </a>
</div>


<div class="ui top fixed borderless menu">
    <a class="item catchat" href="/">
        <img src="/static/logo.png">
        <span>CatChat</span>
    </a>
    <div class="item">
        <div class="ui label black basic" title="Online users">
            <i class="user icon"></i> <span id="user-count">0</span> / 51
        </div>
    </div>
    <div class="right menu hide-on-mobile">

        <div class="item">
            <a class="ui primary button" href="/login">
                Sign in</a>
        </div>

        <a class="item" id="toggle-sidebar">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>


<!-- Mobile message Modal -->
<div id="mobile-new-message-modal" class="ui modal small">
    <div class="content">
        <div class="ui form">
            <textarea id="mobile-message-textarea" rows="15"></textarea>
        </div>
    </div>
    <div class="actions">
        <button class="ui button cancel">Cancel</button>
        <button class="ui button orange approve" id="send-button">Send</button>
    </div>
</div>


<div class="pusher">
    <div class="chat-box">
        <div class="messages">

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/39"
                         src="https://gravatar.com/avatar/84256fd6f6a094ca3d03f13d0bd3b395?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Emily Moyer</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T02:56:45Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 22, 2019 10:56 AM</span>
                    </small>
                    <span class="message-body">Science down when.</span>
                </div>
            </div>

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/49"
                         src="https://gravatar.com/avatar/d0199a7106596909572f196a6c244739?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Richard Barrett</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T07:08:14Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 22, 2019 3:08 PM</span>
                    </small>
                    <span class="message-body">To mean already fact page set list.</span>
                </div>
            </div>

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/27"
                         src="https://gravatar.com/avatar/f3e91a970c55c884d27bc696f7d1ce5a?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Jamie Fuentes</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T07:18:58Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 22, 2019 3:18 PM</span>
                    </small>
                    <span class="message-body">Report wall general international.</span>
                </div>
            </div>

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/50"
                         src="https://gravatar.com/avatar/2439392993ca1953d16525c0b2038561?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Charles Nguyen</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T13:30:36Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 22, 2019 9:30 PM</span>
                    </small>
                    <span class="message-body">National scientist personal life.</span>
                </div>
            </div>

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/30"
                         src="https://gravatar.com/avatar/df846c262a1c10f95923d3bad6a72fe0?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Brandon Campbell</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T16:04:42Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 23, 2019 12:04 AM</span>
                    </small>
                    <span class="message-body">Specific various bag.</span>
                </div>
            </div>

            <div class="msg-box">
                <div class="picture">
                    <img class="pop-card" data-position="right center" data-offset="-40" data-href="/profile/19"
                         src="https://gravatar.com/avatar/34868799aa88fac4aab585b019b4cbc5?d=monsterid">
                </div>
                <div class="msg">
                    <span class="nickname">Lori Foster</span>
                    <small class="timestamp"><span class="" data-timestamp="2019-02-22T18:22:13Z"
                                                   data-format="format('lll')" data-refresh="0" style="">Feb 23, 2019 2:22 AM</span>
                    </small>
                    <span class="message-body">Leave month just bill candidate too cultural control.</span>
                </div>
            </div>
        </div>
        <div class="input-area">
            <div class="ui grid form">
                <div class="ten wide column">
                    <div class="field fluid message-box">

                        <div class="ui floating message">Please <a href="/login">Sign in</a> or
                            <a href="/register">Sign up</a> to send message.
                        </div>

                    </div>
                </div>
                <div class="four wide column right floated right aligned hide-on-mobile">
                    <p>Written by <a href="http://greyli.com">Grey Li</a><br>
                        Fork me on <a href="https://github.com/greyli/catchat">Github</a><br>
                        2017 © <a href="https://helloflask.com">helloflask.com</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/semantic-ui/semantic.min.js"></script>
    <script src="/static/js/forms.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
    <script>
        moment.locale("en");

        function flask_moment_render(elem) {
            $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
            $(elem).removeClass('flask-moment').show();
        }

        function flask_moment_render_all() {
            $('.flask-moment').each(function () {
                flask_moment_render(this);
                if ($(this).data('refresh')) {
                    (function (elem, interval) {
                        setInterval(function () {
                            flask_moment_render(elem)
                        }, interval);
                    })(this, $(this).data('refresh'));
                }
            })
        }

        $(document).ready(function () {
            flask_moment_render_all();
        });
    </script>
    <script type="text/javascript">
        var csrf_token = "IjgxMGEyNWJlMmEzZGVjNDk3ZTg4ZWZmNTkzMDdmMWE3M2Q0ZGVhYjUi.D3f03w.4ig1kPo5MidSzF3d8yKhxjNnbec";
    </script>


    <div id="feedly-mini" title="feedly Mini tookit"></div>



</body>
</html>